footer {
  background: #4abdac;
  color: black;
  display: flex;
  justify-content: space-between;
}

.left{
  font-family: 'Montserrat', sans-serif;
  padding-left: 50px;
}

.right{
  padding-top: 10px;
  padding-right: 20px;
}

.icon{
  margin-left: 20px;
  margin-right: 20px;
}

