<body>
<header class="header">
  <div class="logo">
    <img class="img" routerLink="/intranet/index" src="./assets/vitalif.png">
  </div>
  <nav style="margin-left: 80px;">
    <ul class="nav-links">
      <li><a routerLink="/intranet/index">Inicio</a></li>
      <li><a href="#">Informacion</a></li>
    </ul>
  </nav>
  <div class="div">
    <div class="logo navar2">
      <img class="img2" src="./assets/punto.png">
    </div>
    <nav style="margin-right: 50px;">
      <ul class="nav-links">
        <li><a href="#">15 puntos</a></li>
      </ul>
    </nav>
    <div class="logo navar2">
      <img class="img2" src="./assets/perfil.png">
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="#">Rusbel</a></li>
      </ul>
    </nav>
  </div>
</header>
</body>
