<section class="resumen contenedor">
    <div class="miniperfil">
      <div class="perfil1">
        <img class="shi" src="../assets/perfil.png" alt="">
      </div>
      <div class="perfil1 letra-perfil">
        <h4>Rusbel Abanto Machuca</h4>
        <h4>Ruvercitotupapi</h4>
      </div>
    </div>
    <div class="medallas">
      <h1 class="titulo">Titulos obtenidos</h1>
      <div class="interior">
        <div>
          <img class="img-medallas" src="../assets/oro.png" alt="">
        </div>
        <div>
          <h1>2</h1>
          <h5>Medalla de oro</h5>
        </div>
      </div>
      <div class="interior">
        <div>
          <img class="img-medallas" src="../assets/plata.png" alt="">
        </div>
        <div>
          <h1>2</h1>
          <h5>Medalla de plata</h5>
        </div>
      </div>
      <div class="interior">
        <div>
          <img class="img-medallas" src="../assets/bronce.png" alt="">
        </div>
        <div>
          <h1>4</h1>
          <h5>Medalla de bronce</h5>
        </div>
      </div>
    </div>
  </section>
  <div>
    <h2>TITULOS</h2>
  </div>
  <section class="resumen contenedor">
    <div class="medallas-tipo">
      <div class="interior-titulos">
        <div>
          <img src="../assets/oro.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Tital del entrenamiento</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Entrenar por 600 horas
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              450 / 600
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-blue-500 w-full block rounded-full" style="width: 75%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/plata.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Velocista</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Trota por 12 horas
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              10 / 12
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-blue-500 w-full block rounded-full" style="width: 83%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/bronce.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Maestro del sueño</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              dormir 5 veces 8 horas al dia 
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              2 / 5
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-red-500 w-full block rounded-full" style="width: 40%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/plata.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Fanatico de la informacion</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Visualizar videos de Vitalife
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              0 /1
            </p>
          </div>
          
        </div>
      </div>
    </div>
    <div class="medallas-tipo">
      <div class="interior-titulos">
        <div>
          <img src="../assets/oro.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Mr. Saludable</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Come 3 comidas diarias durante 20 días 
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              10 / 20
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-green-500 w-full block rounded-full" style="width: 50%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/plata.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Rey de los alimentos saludables</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Prepara 15 recetas saludables
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              10 / 15
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-blue-500 w-full block rounded-full" style="width: 66%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/bronce.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Hidratado</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Bebe 2 litros de agua durante 8 dias 
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              2 / 8
            </p>
          </div>
          <div class="overflow-hidden bg-blue-50 h-3 rounded-full w-full">
            <span class="h-full bg-red-500 w-full block rounded-full" style="width: 25%"></span>
          </div>
        </div>
      </div>
      <div class="interior-titulos">
        <div>
          <img src="../assets/plata.png" alt="">
        </div>
        <div style="width: 100%;">
          <div>
            <span style="width: 100%;">Lector Saludable</span>
          </div>
          <div style="width: 100%; display:flex; margin-top:10px;">
            <p class="px-2 py-1 text-xs rounded-lg" style=" margin-right: auto;">
              Lee ka informacion de Vitalife
            </p>
            <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
              0 / 1
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </section>
  
  