<section class="resumen contenedor">
  <div class="miniperfil">
    <div class="perfil1">
      <img class="shi" src="./assets/perfil.png" alt="">
    </div>
    <div class="perfil1 letra-perfil">
      <h4>{{ username }}</h4>
      <h4>{{ correo }}</h4>
    </div>
  </div>
  <div class="medallas">
    <a routerLink="/intranet/titulos"> <h1 class="titulo">Titulos obtenidos</h1> </a>
    <div class="interior">
      <div>
        <img class="img-medallas" src="./assets/oro.png" alt="">
      </div>
      <div>
        <h1>2</h1>
        <h5>Medalla de oro</h5>
      </div>
    </div>
    <div class="interior">
      <div>
        <img class="img-medallas" src="./assets/plata.png" alt="">
      </div>
      <div>
        <h1>2</h1>
        <h5>Medalla de plata</h5>
      </div>
    </div>
    <div class="interior">
      <div>
        <img class="img-medallas" src="./assets/bronce.png" alt="">
      </div>
      <div>
        <h1>4</h1>
        <h5>Medalla de bronce</h5>
      </div>
    </div>
  </div>
</section>

  <div>
    <h2>TITULOS</h2>
  </div>

<section class="resumen contenedor">

  <div class="medallas-tipo">

    <ng-container *ngFor="let titulo of titulos; let i = index">
      <div *ngIf="i < 3" >

        <div class="interior-titulos">
          <div>
            <img [src]="getNivelImagen(titulo.niveltitulo)" alt="">
          </div>
          <div style="width: 100%;">
            <div>
              <span style="width: 100%;">{{ titulo.nombretitulo }}</span>
            </div>
            <div style="width: 100%; display:flex; margin-top:10px;">
              <p class="px-2 py-1 text-xs rounded-lg" style="margin-right: auto;">
                {{ titulo.descripcion }}
              </p>
              <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
                {{ titulo.progresotitulo }} / {{ titulo.puntosrequeridostitulo }}
              </p>
            </div>
            <div class="progress-bar">
              <div class="progress" [style.width]="getProgresoPorcentaje(titulo.progresotitulo, titulo.puntosrequeridostitulo)">
                {{ titulo.progresotitulo }} / {{ titulo.puntosrequeridostitulo }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-container>

  </div>

  <div class="medallas-tipo">

    <ng-container *ngFor="let titulo of titulos; let i = index">
      <div *ngIf="i >= 3 && i < 6">

        <div class="interior-titulos">
          <div>
            <img [src]="getNivelImagen(titulo.niveltitulo)" alt="">
          </div>
          <div style="width: 100%;">
            <div>
              <span style="width: 100%;">{{ titulo.nombretitulo }}</span>
            </div>
            <div style="width: 100%; display:flex; margin-top:10px;">
              <p class="px-2 py-1 text-xs rounded-lg" style="margin-right: auto;">
                {{ titulo.descripcion }}
              </p>
              <p class="px-2 py-1 rounded-lg text-dark-500 text-xs" style="margin-left: auto; ">
                {{ titulo.progresotitulo }} / {{ titulo.puntosrequeridostitulo }}
              </p>
            </div>
            <div class="progress-bar">
              <div class="progress" [style.width.%]="getProgresoPorcentaje(titulo.progresotitulo, titulo.puntosrequeridostitulo)">
                {{ titulo.progresotitulo }} / {{ titulo.puntosrequeridostitulo }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </ng-container>

  </div>

</section>


