<link rel="stylesheet" href="home.component.scss">
<body>

<div class="container">
  <div class="navbar">
    <img class="navbar-logo" src="../../../assets/vitalif.png" alt="" height="301" width="253">
    <div class="navbar-buttons">
      <button routerLink="/autenticacion/iniciar-sesion" class="login-button">INICIAR SESION</button>
      <button routerLink="/autenticacion/registrarse" class="register-button">REGISTRARSE</button>
    </div>
  </div>

  <div class="header">
    <div class="text-container ">
      <h1>¿Quieres mejorar tu salud y bienestar? ¡Empieza a ganar puntos por cumplir hábitos saludables!</h1>
      <p>Donde cada pequeño cambio es un gran paso hacia una vida plena y feliz. ¿Listo para transformar tu estilo de
        vida y brillar en tu máximo potencial?</p>
      <a class="start-button" href="#">COMENZAR</a>
    </div>
    <div class="image-container">
      <img class="header-image" src="../../../assets/iniciochica.png" alt="">
    </div>
  </div>
</div>

<!-- Quienes somos -->
<section class="contenedor container-2 r ">
  <div class="somos minicontainer">
    <div class="image-somos">
      <img class="somos-image" src="../../../assets/quienesomos.png" alt="">
    </div>
    <div class="text-somos">
      <h1>¿Quiénes somos?</h1>
      <p>Somos "VitaLife", una empresa comprometida con la mejora del bienestar y la salud de las personas
        a
        través de la promoción de hábitos saludables. Nuestra misión es brindar información e
        interactuar
        socialmente a partir de la gamificación de estas actividades para hacer la práctica de hábitos
        más
        divertida.</p>
    </div>
  </div>
</section>

<!-- Que ofrecemos -->

<section class="container">
  <div class="minicontainer">
    <div class="row equipo">
      <h1>¿Qué ofrecemos?</h1>
    </div>
    <div class="row equipo">
      <div class="columna-equipo">
        <div class="tarjeta d4">
          <div class="imagen-equipo">
            <img src="../../../assets/ofre5.png">
          </div>
          <p>Juega con tus Habitos:Completa tus habitos personales, en conjunto y diarios y obten puntos para comprar titulos!!</p>
        </div>
      </div>
      <div class="columna-equipo">
        <div class="tarjeta d5">
          <div class="imagen-equipo">
            <img src="../../../assets/ofre2.png">
          </div>
          <p> Planifica tus habitos personales y realizalos cuandos quieras y obten esos puntos!</p>
        </div>
      </div>
      <div class="columna-equipo">
        <div class="tarjeta d3">
          <div class="imagen-equipo">
            <img src="../../../assets/ofre3.png">
          </div>
          <p>Habitos en conjunto:Planifica habitos en conjunto o en pareja, Tu Decides!!</p>
        </div>
      </div>
      <div class="columna-equipo">
        <div class="tarjeta d4">
          <div class="imagen-equipo">
            <img src="../../../assets/ofre1.png">
          </div>
          <p>Informacion sobre Habitos Saludables:La informacion que ofrecemos tambien otorga puntos. Informarte y jugar, la mejor combinacion!!</p>
        </div>
      </div>
      <div class="columna-equipo">
        <img class="imagen-equipo" src="../../../assets/equipoo.png">
      </div>
      <div class="columna-equipo">
        <div class="tarjeta d6">
          <div class="imagen-equipo">
            <img src="../../../assets/ofre4.png">
          </div>
          <p>Publicaciones:Puedes crear publicaciones y compartir tus experiencias!!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- testimonios -->
<section class="testimonios">
  <div class="container-2">
    <div class="minicontainer">
      <h1>Nuestros Testimonios</h1>
      <p class="text-center">Nuestros clientes han experimentado transformaciones significativas en sus vidas gracias
        a nuestro enfoque en hábitos saludables. Aquí hay algunas de sus historias:</p>
      <div class="row">
        <div class="col-md-4">
          <div class="perfil text-center">
            <img src="../../../assets/foto1.jpg" class="usuario" alt="">
            <blockquote>Desde que empecé a seguir los consejos de VitaLife, mi vida ha dado un giro de 180 grados. Me
              siento con más energía que nunca, he perdido peso de forma saludable y he aprendido a manejar el estrés
              de manera efectiva.</blockquote>
            <h3>Laura Pereda <span>Motivada</span></h3>
          </div>
        </div>

        <div class="col-md-4">
          <div class="perfil text-center">
            <img src="../../../assets/foto2.jpg" class="usuario" alt="">
            <blockquote>Lo que más me gusta de VitaLife es cómo convierten el cuidado de la salud en una experiencia
              divertida. Los desafíos y las competencias me mantienen comprometida, y puedo rastrear todo mi progreso.
            </blockquote>
            <h3>Jorge Lopez <span>Embajador</span></h3>
          </div>
        </div>

        <div class="col-md-4">
          <div class="perfil text-center">
            <img src="../../../assets/foto3.jpg" class="usuario" alt="">
            <blockquote>En los últimos meses, he mejorado mi condición física y he perdido peso. Me siento con más
              energía que nunca y todo esto con ayuda de los hábitos que me brindan. ¡Gracias a VitaLife, he logrado
              alcanzar mis objetivos!</blockquote>
            <h3>Carla Montoya <span>Optimista</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</body>
